<!DOCTYPE html>
<html>
  <head>
    <title>HanHo_BookMarket</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include page/nav.ejs %>
    <div>
      <%- include(page); %>
    </div>
  </body>
</html>
