<section>
    <div>
        <p>Add Book</p>
        <div>
            <form action='/addbook/add' method="post">
                <p>***여기 주소 질문***</p>
                <input type="text" name="title" placeholder="책이름"/>
                <input type="text" name="desc" placeholder="설명" />
                <input type="text" name="qty" placeholder="수량" />
                <input type="text" name="price" placeholder="가격" />
                <input type="text" name="gn" placeholder="장르" />
                <input type="submit" value="추가" />
                <input type="submit" value="취소" />
            </form>
        </div>
    </div>
</section>