<section>
    <div>
        <form action="/signin/signin" method="post">
            <input type="text" name="user_id" placeholder="Id" />
            <input type="password" name="user_pw" placeholder="Password" />
            <button type="submit" >Signin</button>
        </form>
        <form>
            <button type="submit" formaction="/signup" formmethod="get" >SignUp</button>
            <button type="submit" formaction="/finduser" formmethod="get">Find ID/PWD</button>
        </form>
    </div>
</section>