<section>
    <form action="/signup/register" method="post">
        <input type="text" name="user_id" placeholder="Id" />
        <input type="password" name="user_pwd" placeholder="Password" />
        <input type="text" name="user_nm" placeholder="Name" />
        <button type="submit" >회원가입</button><br/>
        <button type="submit" formaction="/finduser" formmethod="get" >ID/Password 찾기</button>
        <button type="submit" formaction="/signin" formmethod="get" >취소</button>
    </form>
</section>